{% extends 'layout.twig' %}

{% block head %}
<link rel='stylesheet' href='/stylesheets/message.css' />
{% endblock %}

{% block body %}

<div>
    {% for row in rows %}
    <div class="m">
        <div class="t">{{row['account']}} {{row['created_at']|date('Y-m-d H:i:s')}}</div>
        <div>{{row['message']}}</div>
    </div>
    {% endfor %}
</div>

{% if account %}
<form action="/message/create" method="post">
<textarea name="message"></textarea>
<button>送出</button>
</form>
{% endif %}

{% endblock %}
